
/* Shared style and initial styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Main colors and font weight */
:root {
--color1:#ffffff;
--color2: #5999b7;
--color3: #9fa4a1;
--color4: #6c736f;
--color5: #fb3640;
--color6: #0a2463;
--font-family: 'Roboto', sans-serif;
--font1: 800;
--font2: 400;
--font3: 300;
}


html {
    font-family: var(--font-family);
}

h1 {
    font-weight: var(--font1);
    color: var(--color1);
}
h2 {
    font-weight: var(--font2);
}
h3 {
    font-weight: var(--font3);
}
ul a:hover{
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: var(--color1);    
}
a:hover {
    text-decoration: underline;
}


/* ------------ header ------------  */

header {
    background: var(--color1) url("../images/plane.jpg") no-repeat;
    background-size: 100%;
    padding: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    max-height: 400px;
    min-height: 300px;
    min-width: 400px;
}

/* title Styles */

.title-container {
    display: inline-block;
    width: 60%;  
    padding-top: 0px;
    padding-right: 0px;  
}

/* Header content styles */

.headerContent {
    color:var(--color1);
    padding-top: 15%;
    padding-bottom: 10%;
    font-size: 1em;
}
.headerContent h2{
  padding-bottom: 1%;  
}
.headerContent p{
    padding-right: 25%;  
  }
  
.headerContent button {
    width: 35%;
    min-width: 180px;
    border-style: none;
    color: var(--color1);
    font-weight: var(--font1);
    font-size: 16px;
    background: var(--color5);
    border-radius: 60px;
    padding: 14px;
    margin-top: 10%;  
}
.headerContent button:hover {
    transform: scale(1.05); 
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.68); 
}

/* Language Menu */

.languageMenu-container {
    display: block;
    text-align:  end;
    color: var(--color1);
}
.languageMenu-container span img{
    width: 18px;
}
.languageMenu-container:hover > span img{
    transform:rotate(180deg);
}
.languageMenu-container ul {
    display: none;
}
.languageMenu-container {
    list-style: none;
        margin: 0;
        padding: 0;    
}
.languageMenu  { 
    background: var(--color1);
    list-style: none;
    text-align: left;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    position: absolute;
    right: 0;
    z-index: 100;
    margin-right: 5%;
}
.languageMenu li a{
    text-decoration: none;
    color: var(--color2);
}
.languageMenu a:hover{
    text-decoration: underline;
}
.languageMenu-container:hover > ul {
    display: block;
   }

   /* Options Menu */

.headerMenu-container {
    display: inline-block;
    width: 35%;
    padding-left: 5%;  
    position: absolute;
    top: 20px;
}
   .headerOptionMenu ul{
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 10px;
   }
   .headerOptionMenu a {
    color: var(--color1);
    text-decoration: none;
    padding: 0;
   }

   /* ------------ Main ------------  */

main {
    display: inline; 
}
main h2 {
    width: 90%;
    margin-left: 5%;
    padding-top: 6%;
    padding-bottom: 4%;
    color: var(--color2);
}
   .mainSection {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 72% 28%;
    }
    .chosenDestination-container {
        text-align: center;
        padding: 3%;
        padding-top: 5%;
        margin-left: 30%; 
        width: 40%;
        justify-self: center;
    }
    .chosenDestination-container p{
        color:var(--color4)
     }
    
     .chosenDestination-container #chosenDestinationName {
        color:var(--color3)
     }

/* Main Menu styles */

    .mainMenu-container {
        border-radius: 15px;
        margin-left: 10%;
        padding: 0px;
        padding-bottom: 3%;
        width: 90%;
        box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.68);  
    }
    .mainMenu-container:hover {
        transform: scale(1.05);  
    }
    .mainMenu-container h3{
        padding: 15%;
        text-align: center;
        color: var(--color3);
    }
    .mainMenu-container ul{
        list-style: none; 
    }
    .mainMenu-container ul li{
        padding: 4%; 
        padding-left: 10%;  
        border-top: 1px solid var(--color3);
    }
    .mainMenu-container a{
        text-decoration: none;
        color: var(--color3); 
        font-size: 0.8em;  
    }
    .mainMenu-container li::first-letter{
        text-decoration: none;
        color: var(--color2);   
        padding-right: 10px;
        padding-left: 5px;
        font-size: 20px;
    }

 /* Destination styles */

   .destination-card {
        border: 0.3px solid var(--color6);
        width: 28%;
        min-width: 160px;
        height: 150px;
        border-radius: 15px;
        display: inline-block;
        margin: 10px;
        box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.68);
        background-size: cover !important;
   }
   .destination-card:hover {
        transform: scale(1.05);  
    }
    .destination-card .text {
         height: 50%;
        padding:5px;
        position: relative;
        top: 50%; 
        border-radius: 0 0 15px 15px;
        background-color: rgba(0,0,0,0.6);
    }
.destination-card p {
    color: var(--color1);
    font-size: 0.9em;
    padding: 10px;
}

.destination-card h3 {
    color: var(--color1);
    padding: 5px;
    text-align:end;
    font-weight: var(--font1);
}
 #moscow {
    background-image: url("../images/moscow.jpg");   
}
#puertoRico {
    background-image: url("../images/puerto-rico.jpg");
}
 #honduras {
    background-image: url("../images/honduras.jpg");
 }

/* ------------ FOOTER ------------ */

 footer {
    margin-top: 5%;
    width: 100%;
    background-color: var(--color6);
    justify-items: center;
 }

 /* Contact Information styles */
 
 .contactInfo-container {
    width: 150px;
    justify-items: space-between;
    margin-left: calc((100% - 150px)/2);
 }
 .contactInfo-container a {
    margin: calc((100% - 84px)/8);
 }
 .contactInfo-container h3 {
    text-align: center;
    padding: 15%;
    color: var(--color1);
    font-weight: var(--font2);
 }
 .iconImg {
    width: 28px;
 }
 .iconImg:hover {
    transform: scale(1.05);
 }

/* Footer information styles */

 footer section {
    width: 100%;
    padding: 5%;
    padding-top: 0;
    display: flex;
 }
 .footerMenu-container {
    width: 25%;
    padding: 2%;
    color: var(--color1);
 }
 .footerMenu-container ul li {
    list-style: none;
    padding-top: 5%;
 }
 .footerMenu-container a {
    text-decoration: none;
    color: var(--color1);
 }
 .footerMenu-container p {
    font-size: 0.9rem;
 }
 .footerMenu-container h3 {
    color: var(--color5);
    padding: 5%;
    padding-left: 0;
    text-align:start;
 }

 /* ------------- RESPONSIVE ------------- */

/* Small devices */

 @media screen and (max-width: 580px) {

/* Header */

    .title-container {
        display: block;
        width: 100%;    
    }
    .headerMenu-container {
        display: block;
        width: 100%;
        padding-left: 5%;
        position: relative;
        top: 35%;
    }
    .headerMenu-container ul li:hover{
        background-color: rgba(0, 0, 0, 0.137);
        box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.68);
        border-radius: 18px;
        transform: scale(1.1);
    }
    .headerContent {
        color:var(--color1);
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 1em;
    }
    .headerContent p{
        padding-right: 1%;  
      }
    .headerContent button {
        width: 180px;
        font-size: 12px;
        padding: 14px;
        margin-top: 2%;  
    }
    .languageMenu  {  
        margin-right: 1%;
    }

/* Main */

.mainSection {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.mainMenu-container {
    margin-left: 2%;
    height: 450px;
 }
 .mainMenu-container ul li {
    padding-top: 8%;
    padding-bottom: 8%;
}
 .destination-card {
   width: 90%;
    min-width: 155px;
    height: 150px;
   }
.chosenDestination-container {
    margin-left: 10%;
    width: 80%;
}

/* Footer */

footer section {
    display: flex;
    flex-wrap: wrap;
 }
 .footerMenu-container {
    width: 50%;
    padding: 1%;
    color: var(--color1);
 }
 .footerMenu-container ul li{
    padding: 1%;
 }

}

/* Medium Devices */

@media (min-width: 580px) and (max-width: 900px) {

/* Header */

    .title-container {
        display: inline-block;
        width: 55%;  
        padding-top: 0px;
        padding-right: 0px; 
    }
    .titleMenu-container {
        display: inline-block;
        width: 45%;
        padding-left: 5%;  
    }
       .headerOptionMenu ul li{
        font-size: 0.85rem;
        padding-left: 1%;
       }   
    .headerContent {
        color:var(--color1);
        padding-top: 15%;
        padding-bottom: 10%;
        font-size: 1em;
    }
    .headerContent p{
        padding-right: 0;  
      }
    .headerContent button {
        width: 35%;
        min-width: 180px;
        font-size: 16px;
     
    }

/* Main */

.mainSection {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 70% 30%;
}
.mainMenu-container {
    margin-left: 2%;
    height: 450px;
 }
 .mainMenu-container ul li {
    padding-top: 8%;
    padding-bottom: 8%;
}
 .destination-card {
   width: 40%;
    min-width: 155px;
    height: 150px;   
}
   .chosenDestination-container {
    margin-left:20%;
    width: 60%;
}

}
